blockquote {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #f5f5f5;
}

a {
  color: hsla(0, 0%, 0%, 0.9);
}

h1 {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 2.3rem;
  line-height: 1.35;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  color: inherit;
  font-family: medium-content-title-font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 32px;
  line-height: 48px;
}

iframe {
  border: none;
  width: 100%;
  height: 315px;
}

header {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

header a.logo img {
  width: 35px;
  height: 35px;
  margin: 0;
}

header a.logo {
  color: rgba(0, 0, 0, 0.9);
  box-shadow: none;
  height: 35px;
  display: inline-block;
  margin: 20px;
}

header a.logo span {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 900;
  position: relative;
  top: -8px;
  left: 4px;
}

header nav {
  font-family: Montserrat, sans-serif;
  height: 35px;
  margin: 20px;
  font-size: 85%;
  font-weight: 600;
}

header nav a {
  box-shadow: none;
  color: hsla(0, 0%, 0%, 0.9);
  display: block;
  position: relative;
  text-transform: uppercase;
  top: 6px;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  padding: 40px 10px;
  font-size: 15.8px;
  font-weight: 200;
}

footer h4 {
  padding: 0;
  margin: 0 0 14px 0;
  font-size: 100%;
  font-weight: 600;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

footer p {
  font-weight: 200;
  font-size: 85%;
  margin: 0 20px 15px 0;
  text-align: justify;
}

footer a {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.7);
}

footer a:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

footer ul {
  margin: 0;
  padding: 0;
  display: inline;
}

footer li {
  display: inline;
  margin: 0 0 0 7px;
  padding: 0;
}

footer hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.54);
  height: 0;
}

.disclaimer {
  background-color: rgb(35, 35, 35);
  color: rgba(255, 255, 255, 0.7);
  font-family: sans-serif;
  padding: 40px 10px;
  font-size: 15.8px;
  font-weight: 200;
}

.disclaimer h4 {
  padding: 0;
  margin: 0 0 14px 0;
  font-size: 100%;
  font-weight: 600;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.disclaimer p {
  font-weight: 200;
  font-size: 85%;
  margin: 0;
  text-align: justify;
}
.visible-lg, .visible-md, .visible-sm, .visible-xs {
  display: none !important;
}

@media (max-width: 768px) {
  .visible-xs {
    display: block !important;
  }

  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-sm {
    display: block !important;
  }

  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .visible-md {
    display: block !important;
  }

  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  .hidden-lg {
    display: none !important;
  }
}

.article-preview:first-of-type {
  margin-top: 3.3rem !important;
}